* {
    box-sizing: border-box;
}

:root {

    --page-width: 297mm;
    --page-height: 210mm;

    --margin-top: 5mm;
    --margin-bottom: 5mm;
    --margin-left: 5mm;
    --margin-right: 5mm;
}

.page {
    background-color: white;
    page-break-before: always;
}

.page:not(:last-child) {
    page-break-before: unset;
}



@media screen {
    .page {
        overflow: hidden;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), inset 0 0 3px rgba(0, 0, 0, 0.6);
        padding-top: var(--margin-top);
        padding-bottom: var(--margin-bottom);
        padding-left: var(--margin-left);
        padding-right: var(--margin-right);

        height: calc(var(--page-height));
        width: calc(var(--page-width));

    }

    body {
        background-color: var(--background);
        margin: 0 auto 0 auto;
    }
}

@media print {
    @page {
        size: A4 landscape;
        margin: 0px;

    }

    .hide-on-print {
        display: none !important;
    }

    .page {
        overflow: hidden;
    }


    body {
        margin: 0px;
    }


    .page {
        height: calc(var(--page-height));
        width: calc(var(--page-width));
        background-color: white;
        page-break-after: always;
        /* margin-top: (var(--margin-top)); */
        /* margin-left: (var(--margin-left)); */

        padding-left: calc(var(--margin-left) - 1px);
        padding-right: calc(var(--margin-right) - 1px);
        padding-top: calc(var(--margin-top) - 1px);
        padding-bottom: calc(var(--margin-bottom) - 1px);
        width: calc(var(--page-width) - 2px);
        height: calc(var(--page-height) - 2px);
    }
}